@import 'variables';

body {
  min-width: 1440px;
  width: 100%;
  height: 100%;
  background: $background-color;
  font-family: $font-family;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  color: $main-text-color;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color .2s ease;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

a, input, button {
  outline: none;
}

li {
  list-style-type: none;
}

.wrapper {
  width: $width-base;
  margin: 0 auto;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
}

.mt-24 {
  margin-top: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-basic {
  min-width: 112px;
  height: $button-height;
  line-height: $button-height;
  font-family: $font-family;
  font-size: 24px;
  font-weight: 400;
  border-radius: 32px;
  cursor: pointer;
}

// 按钮
.btn-primary {
  @extend .btn-basic;
  color: $main-text-color;
  background: linear-gradient(139deg, #F0F3F6 0%, #FFFFFF 100%);
  box-shadow: 4px 4px 16px 0px rgba(55, 84, 170, 0.16), -4px -4px 16px 0px #FFFFFF, 1px 1px 2px 0px #FFFFFF;

  &:hover {
    color: $white;
    background: linear-gradient(135deg, #FF8D0A 0%, #FFA733 100%);
    box-shadow: 4px 4px 16px 0px rgba(148, 76, 46, 0.2), -4px -4px 16px 0px #FFFFFF, 1px 1px 2px 0px rgba(255, 247, 230, 0.6);
  }

  &:active {
    color: $white;
    background: linear-gradient(135deg, #FF8D0A 0%, #FFA733 100%);
    box-shadow: 4px 4px 16px 0px rgba(148, 76, 46, 0.2), -4px -4px 16px 0px #FFFFFF, 1px 1px 2px 0px rgba(255, 247, 230, 0.6);
  }

  &:disabled {
    background: linear-gradient(139deg, #F0F3F6 0%, #FFFFFF 100%);
    box-shadow: 4px 4px 16px 0px rgba(55, 84, 170, 0.16), -4px -4px 16px 0px #FFFFFF, 1px 1px 2px 0px #FFFFFF;
  }
}

.btn-primary-small {
  @extend .btn-primary;
  min-width: 80px;
  height: $button-height-small;
  line-height: $button-height-small;
  font-size: $font-size-base;
  font-weight: 500;
  border-radius: 19px;
}

.nav-title {
  font-size: $font-size-large;
  font-family: $font-family-medium;
  font-weight: 500;
  color: $main-text-color;
}

.card {
  background: $white;
  box-shadow: 3px 3px 8px 0px rgba(166, 171, 189, 0.3);
  border-radius: 8px;
}

.card-li {
  display: flex;
  align-items: baseline;
  margin-bottom: 4px;
  padding: 8px;
  background: $white;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  color: $second-text-color;

  &:before {
    content: '•';
    margin-right: 8px;
    font-size: $font-size-base;
    font-weight: 400;
  }

  &:hover {
    box-shadow: 6px 4px 16px 0px rgba(55, 84, 170, 0.16), 1px 1px 0px 0px #FFFFFF;
  }
}

.red-card-ul {
  li {
    @extend .card-li;

    &:before {
      color: #F54A45;
    }
  }
}

.orange-card-ul {
  li {
    @extend .card-li;

    &:before {
      color: #FF9200;
    }
  }
}

.blue-card-ul {
  li {
    @extend .card-li;

    &:before {
      color: #007AFF;
    }
  }
}

.li {
  display: flex;
  align-items: baseline;
  margin-bottom: 2px;
  //background: $white;
  font-size: 12px;
  font-weight: 400;
  color: $second-text-color;

  &:before {
    content: '•';
    margin-right: 4px;
    font-size: $font-size-base;
    font-weight: 400;
  }
}


.red-ul {
  li {
    @extend .li;

    &:before {
      color: #F54A45;
    }
  }
}

.blue-ul {
  li {
    @extend .li;

    &:before {
      color: #007AFF;
    }
  }
}

.text-li {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
  //background: $white;
  font-size: 12px;
  font-weight: 400;
  color: $second-text-color;

  &:before {
    padding: 0 3px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 2px;
    margin-right: 4px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }
}


.red-text-li {
  @extend .text-li ;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;

  &:before {
    content: '高';
    color: #F54A45;
    background: #FFE9E9;
  }
}


.blue-text-li {
  @extend .text-li ;

  &:before {
    content: '低';
    color: #007AFF;
    background: #E3ECFE;
  }
}
