// 复选框
.ivu-checkbox {
  .ivu-checkbox-inner {
    border: 1px solid #97A0C3;
  }
}

.ivu-checkbox-checked {
  .ivu-checkbox-inner {
    border: 1px solid #97A0C3;
  }
}

// 单选框
.ivu-radio {
  .ivu-radio-inner {
    border-radius: 50%;
    border: 1px solid #97A0C3;
  }
}

.ivu-radio-checked {
  .ivu-radio-inner {
    box-shadow: none;
    border: 1px solid #2373FF;
  }
}

// 开关
.ivu-switch {
  background-color: #ECEFF8;
  // box-shadow: 1px 1px 2px 0px #A6ABBD inset;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.ivu-switch-checked {
  border-color: #2373FF;
  background-color: #2373FF;
}

// 输入框
.ivu-input {
  padding: 9px 12px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #97A0C3;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #242F57;
  resize: none;
}

.ivu-input-with-prefix.ivu-input {
  padding-left: 32px;
}

// 下拉框
.ivu-select-selection {
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #97A0C3;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #242F57;
}

.ivu-select-dropdown {
  background: #FFFFFF;
  box-shadow: 3px 4px 16px 0px rgba(134, 143, 191, 0.2);
  border-radius: 4px;

  .ivu-select-dropdown-list {
    .ivu-select-item {
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #242F57;

      &:hover {
        background: #F4F7FC;
      }
    }

    .ivu-select-item-selected {
      background: #F4F7FC;
    }
  }
}

// 分页
.ivu-page {
  .ivu-page-prev,
  .ivu-page-next,
  .ivu-page-item-jump-prev,
  .ivu-page-item-jump-next {
    min-width: 28px;
    height: 28px;
    line-height: 26px;
    font-family: PingFangSC-Regular, PingFang SC;
    background: transparent;
    border: 1px solid transparent;
    color: #7C88B1;

    &:after {
      color: #636E95;
    }

    &:hover {
      color: #2373FF;
    }
  }

  .ivu-page-item {
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 4px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    border: none;

    a {
      color: #636E95;
    }
  }

  .ivu-page-item-active {
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;


    a {
      color: #2373FF;
    }
  }
}

// tabs
.ivu-tabs-bar {
  border-bottom: 1px solid #EAEDF7;
}

.ivu-tabs-nav {
  .ivu-tabs-tab {
    font-size: 20px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #97A0C3;
    padding: 8px;

    &:hover {
      color: #242F57;
    }
  }

  .ivu-tabs-tab-active {
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #242F57;
  }

  .ivu-tabs-ink-bar {
    height: 2px;
  }
}

// poptip
.ivu-poptip {
  .ivu-poptip-rel {
    .tip-icon {
      vertical-align: baseline;
      font-size: 14px;
      color: #7C88B1;
      cursor: pointer;
    }
  }
}
.saas-poptip {
  .ivu-poptip-content {
    .ivu-poptip-arrow {
      display: none;
    }

    .ivu-poptip-inner {
      background: rgba(219, 234, 255, 0.94);
      border-radius: 8px;
      border: 1px solid #4D94FF;

      .ivu-poptip-body {
        padding: 16px;
        width: 500px;
        
        p {
          font-size: 12px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #636E95;
          line-height: 20px;
          white-space: pre-wrap;

          span {
            font-weight: 600;
          }
        }

        img {
          max-width: 468px;

          &.small {
            max-width: 240px;
          }

          &.big {
            margin-left: 84px;
            max-width: 300px;
          }
        }
      }
    }
  }
  
  &.small {
	 .ivu-poptip-body {
	   padding: 16px;
	   width: 200px!important; 
	 }
  }
}

.ivu-back-top{
  .ivu-back-top-inner {
    background-color: rgba(0, 0, 0, 0.2);
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;

    .ivu-icon {
      padding: 5px;
    }
  }
}
